/*
 * Common
 */
.text-right {
	text-align: right;
}

.flex {
	display: flex;
}



/*
 * Mod Settings
 */
#mod-settings-toggle {
    height: 30px;
    position: absolute;
    left: 450px;
    bottom: 10px;
    color: #fff;
    font-size: 14px;
    font-family: aller bold,sans-serif;
    text-indent: 6px;
    background-color: #444;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    outline: none;
    opacity: .5;
    padding: 5px;
    margin: 0;
    z-index: 301;
}

#mod-settings-toggle:hover {
	opacity: 0.9;
}

#mod-settings {
	background-color: #fff;
	padding: 30px;
	border-radius: 15px;
	width: 350px;
	min-height: 300px;
	top: 1em;
	left: 50%;
	margin-left: -175px;
	z-index: 99999;
	box-shadow: 0 0 15px #000;
	position: fixed;
}

#mod-settings input.keybinding {
	max-width: 20px;
	border: 1px solid #ccc;
	padding: 0;
	text-align: center;
	margin-right: 5px;
}

#mod-settings input[type="radio"] {
	margin-right: 5px;
}
#mod-settings input[type="submit"] {
	width: 100%;
	margin-top: 15px;
}

#mod-settings.hidden {
	display: none;
}


#text-block,#left_ad_block,#ad_bottom,.ad-block,.ad-block-left,.ad-block-right {
	visibility: hidden;
}